<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniPagerHeaderController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B39657091D6AF3390014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B396571D1D6AF3390014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39657281D6AF3390014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
